{% extends base_template %}


{% block content %}
<h2>Perfil de {{ request.user.username }}</h2>
<p>Email:  {{ request.user.email }}</p>
<a href="{% url 'inicio' %}"><button>Ir al Inicio</button></a>

<hr>

<h3>Mis publicaciones</h3>

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.titulo }}</strong><br>
                <small>Publicado el {{ post.fecha_publicacion|date:"d/m/Y H:i" }}</small><br>
                <a href="{% url 'detalle_post' post.id %}">Ver post</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No has publicado nada todavía.</p>
{% endif %}

{% endblock %}