{% extends base_template %}

{% block content %}
    <h2>Perfil de {{ usuario_perfil.username }}</h2>
    <p>Email: {{ usuario_perfil.email }}</p>
    
    


    <h3>Publicaciones:</h3>
    {% if posts %}
        <ul>
            {% for post in posts %}
            <li>
                <strong>{{ post.titulo }}</strong><br>
                {{ post.contenido|truncatechars:100 }}<br>
                <small>Publicado el {{ post.fecha_publicacion }}</small>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>Este usuario no ha publicado nada todavía.</p>
    
    
{% endif %}
<a href="{% url 'inicio' %}">
    <button class="btn btn-secondary mt-3">← Volver al inicio</button>
</a>
{% endblock %}